<div class="hidden-xs">
	<fieldset class="controls-row">
        <div class="sorting collapse">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 col-sm-4"> 
                         <label for="bday_day">{L_DISPLAY}{L_COLON}</label>
                            <div class="control-row">
                              {S_SELECT_SORT_DAYS}
                            </div>
						</div>
	 
	                    <div class="col-md-4 col-sm-4"> 
                          <label for="bday_day">{L_SORT_BY}</label>
                            <div class="control-row">
                              {S_SELECT_SORT_KEY}
                            </div>
						</div>

						<div class="col-md-4 col-sm-4"> 
                           <label for="bday_day">{L_SORT_BY}</label>
                            <div class="control-row">
							<div class="input-group">
                             {S_SELECT_SORT_DIR}
							 <span class="input-group-btn">
                              <button class="btn btn-default" name="sort" type="submit">{L_GO}</button>
							 </span>
							</div>
						    </div>   
						</div>
					
					</div>
                </div>
			</div>
		</div> 
	</fieldset> 
</div>